<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913894749565-jjjc6cdfds86pg1p6co0cq9or3p5u1a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913894749565-jjjc6cdfds86pg1p6co0cq9or3p5u1a4</string>
	<key>API_KEY</key>
	<string>AIzaSyBk6Hbe2yzokSb1W-ghD_w9YBgTTe0Jwfg</string>
	<key>GCM_SENDER_ID</key>
	<string>913894749565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasinakca.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-98d65</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-98d65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913894749565:ios:65e40266862bb3327e8814</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-98d65.firebaseio.com</string>
</dict>
</plist>